@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Scoutie+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #272727;
}

a{
  text-decoration: none;
  color: black;
}

.titulo {
  font-family: "Scoutie Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.texto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  width: 100%;
}

.conteudo-landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width:50%;
  gap: 40px;
}

.conteudo-landing h6{
  font-size: 4rem;
  padding-left: 20px;
}

.conteudo-landing p {
  max-width: 80%;
  padding-left: 20px;
}

.imagem-landing {
}

.solucao{
  height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-solucao{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.publico-alvo{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.div-publico{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  gap: 40px;
}

.galeria{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.fotos-galeria{
  display: grid;
  grid-template-columns: 1fr, 2fr;
  grid-template-rows: 2;
}

.equipe {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.div-integrantes{
  display: flex;
  gap: 20px;
}

footer {
  width: auto;
  height: 20vh;
  background-color: black;
}