.botao {
    padding: 12px 22px;
    background-color: #ff5e5b;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.25s ease;
}

.botao:hover {
    animation: vaivolta 1.2s infinite ease-in-out;
}

    @keyframes vaivolta {
    
        0%,
        100% {
            scale: 1;
        }
    
        50% {
            scale: 1.05;
        }
    }